################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/FileContentIndex/f00a1a39-81ec-4ea2-8d1f-417813a755b9.vsidx
